.title{
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.5px;
  color: #F8F8F8;
}

.article{
  h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 140%;
    text-align: justify;

    color: #F8F8F8;
    padding-bottom: 36px;
    padding-top: 36px;

  }
  p{
    font-size: 18px;
    line-height: 140%;
    color: #D7D7D7;
  }
  padding-bottom: 80px;
  padding-top: 80px;
}
.background{
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
